*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* ------Navbar starts--------- */

body{
    color: #efefef;
}
.logo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
   color: white;
}
span:hover{
   color:#2183a2 ;
}
.logo img{
    width: 20%;
    border: 3px solid white;
    border-radius: 50px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    background-color:#333333;
    z-index: 1000;

}
.nav-list{
    width: 60%;
    display: flex;
    align-items: center;
    font-weight: 400;
}
.nav-list li {
    list-style: none;
    padding: 23px 30px;
}

.nav-list li a{
    text-decoration: none;
    color:white;
}
.nav-list li a:hover{
    color:#2183a2;
}

.rightNav{
    width: 30%;
    text-align: right;
    padding: 0 23px;

}
#search{
    padding: 5px;
    font-size: 15px;
    border: 2px solid grey;

}

.btn{
    padding: 8px 15px;
    margin: 5px 0;
    border: 2px solid grey;
    background: none;
    color:white;
    cursor: pointer;
    border-radius: 7px;
}

.btn:hover{
   color: #2183a2;
}

/*----- Navbar ends-------------- */

.hero{
    background: rgb(172, 168, 168);
    height: 100vh;
    width: 100%;
    position: relative;
}
.hero h1{
    text-align: center;
    padding-top: 80px;
    font-size: 40px;
    color: #fff;
}

.slide-row{
    display: flex;
    width: 3200px;
    transition: 0.5s;
}
.slide-col{
    width:800px;
    height: 400px;
    position: relative;
}
.user-img{
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
}

.user-img img{
    height: 100%;
    border-radius: 10px;
}

.user-text{
    background: #2d3a59;
    width: 520px;
    height: 270px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    color: #d3d4d6;
    padding: 45px;
    box-sizing:border-box; 
    z-index: 2;
}
.user-text p{
    font-size: 18px;
    line-height: 24px;
}
.user-text h3{
    margin: 35px 0 5px;
    color: #fff;
}
.container{
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.indicator{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}
.btn{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.active{
    width: 45px;
}
.meetourteam{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* ----------Form----------- */
.contain{
    width: 700px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 155%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    background-color:grey;
}
.box{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
h3{
    font-size: 35px;
    margin: 15px;
}
.name{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.name img{
    position: absolute;
    top: 50%;
    left:30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #bbb;
}
.name input{
    width: 100%;
    padding: 20px 60px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #eee;
    border-radius: 40px;

}
.name input::placeholder{
    color: #bbb;
    font-weight: 500;
}

.email{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.email img{
    position: absolute;
    top: 50%;
    left:30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #bbb;
}
.email input{
    width: 100%;
    padding: 20px 60px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #eee;
    border-radius: 40px;

}
.email input::placeholder{
    color: #bbb;
    font-weight: 500;
}
.message-box{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.message-box img{
    position: absolute;
    top: 50%;
    left:30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #bbb;
}
.message-box textarea{
    width: 100%;
    padding: 20px 60px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #eee;
    border-radius: 40px;

}
.message-box textarea::placeholder{
    color: #bbb;
    font-weight: 500;
}

.button{
    width: 100%;
    cursor: pointer;
    margin-bottom: 20px;
}

.button button{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background-color: #2183a2;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
}
.message{
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;

}
.message .success{
    font-size: 20px;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}
.message .danger{
    font-size: 20px;
    color: red;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;

}
@keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

/* -------Footer starts----- */
 
.footer{
  margin-top: 605px;
  width: 100%;
  padding: 100px 15%;
  background: #333;
  color: #efefef;
  display: flex;
}
.footer div{
  text-align: center;
}
.col-2{
  flex-grow: 2;
}
.footer div h3{
  font-weight: 300;
  margin-bottom:30px;
  letter-spacing: 1px;
}
.col-1 a{
  display: block;
  text-decoration: none;
  color:#efefef;
  margin-bottom:10px;
}
form input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline:none;
  border: none;
}
form button{
  background:transparent;
  border: 2px solid #fff;
  color:#fff;
  border-radius: 30px;
  padding:10px 30px;
  font-size: 15px;

}
.icons{
    width: 25%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
