*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #efefef;
}
/* ------Navbar starts--------- */
.logo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
   color: white;
}
span:hover{
   color:#2183a2 ;
}
.logo img{
    width: 20%;
    border: 3px solid white;
    border-radius: 50px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    background-color:#333333;
    z-index: 1000;

}
.nav-list{
    width: 60%;
    display: flex;
    align-items: center;
    font-weight: 400;
}
.nav-list li {
    list-style: none;
    padding: 23px 30px;
}

.nav-list li a{
    text-decoration: none;
    color:white;
}
.nav-list li a:hover{
    color:#2183a2;
}

.rightNav{
    width: 30%;
    text-align: right;
    padding: 0 23px;

}
#search{
    padding: 5px;
    font-size: 15px;
    border: 2px solid grey;

}

.btn{
    padding: 8px 15px;
    margin: 5px 0;
    border: 2px solid grey;
    background: none;
    color:white;
    cursor: pointer;
    border-radius: 7px;
}

.btn:hover{
   color: #2183a2;
}

/*----- Navbar ends-------------- */


/* Footer section------------- */

.footer{
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background: #333;
    color: #efefef;
    display: flex;
  }
  .footer div{
    text-align: center;
  }
 .col-2{
    flex-grow: 2;
 }
 .footer div h3{
    font-weight: 300;
    margin-bottom:30px;
    letter-spacing: 1px;
 }
 .col-1 a{
    display: block;
    text-decoration: none;
    color:#efefef;
    margin-bottom:10px;
 }
 form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline:none;
    border: none;
 }
 form button{
    background:transparent;
    border: 2px solid #fff;
    color:#fff;
    border-radius: 30px;
    padding:10px 30px;
    font-size: 15px;
 
 
 }